@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");

:root {
  --primary-color: #f6c1d1;
  --card-color: #fadadd;
  --secondary-color: #fff1f6;
  --text-color: #8f3a62;
  --title: #d96c9f;
  --shadow: #8a1b49;
  --modo-escuro: #f4b6c2;
  --mouse: #fadadd;
  --mE-backgroud: #6f3a52;
  --mE-card: #7f4a62;
  --mE-button: #b36482;
  --mE-menu: #8f5a72;
  --mE-card-button: #63344a;
  --mE-title: #422030;
  --mE-tipo: #682a47;
  --mE-pokedex: #4e1e34;
  --mE-shadow: #390a1d;
}

body.claro {
  background-color: var(--primary-color);
}

body.escuro {
  background-color: var(--mE-backgroud);

  .menu {
    background-color: var(--mE-menu);
  }

  .menu button {
    background-color: var(--mE-button);
  }

  .card {
    background: var(--mE-card);
  }

  .card-header button {
    background-color: var(--mE-card-button);
    color: var(--mouse);
  }

  .escrita h1 {
    color: var(--mE-title);
  }

  .card h3 {
    color: var(--mE-title);
  }

  .card h4 {
    color: var(--mE-tipo);
  }

  .card h5 {
    color: var(--mE-pokedex);
  }

  .card {
    filter: drop-shadow(0 0 1.5rem var(--mE-shadow));
  }

  .principal img {
    filter: drop-shadow(0 0 1.5rem var(--mE-shadow));
  }
}

header {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-left: 40px;

  img {
    height: 95px;
  }
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 60px;
  background-color: var(--card-color);
  border-radius: 30px;
  height: 58px;
  width: 800px;
  border: 1.5px solid;

  button {
    background-color: var(--modo-escuro);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-family: "ADLaM Display", system-ui;
    font-size: 16px;
    padding: 10px;
     border: 1.5px solid;
  }
  button:hover {
    background-color: var(--modo-escuro);
    color: var(--secondary-color);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  a {
    color: var(--titulos);
    text-decoration: none;
    font-size: 23px;
    padding: 18px;
    font-family: "ADLaM Display", system-ui;
  }
}

.escrita {
  width: 800px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.escrita h1 {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--title);
  font-size: 100px;
}

.escrita p {
  display: flex;
  justify-content: left;
  text-align: center;
  padding-bottom: 10%;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
  border-bottom: 2.5px solid #ffffff;
  margin-bottom: 40px;
  display: flex;
  justify-content: left;
  text-align: center;
  padding-bottom: 10%;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
}

.principal {
  display: flex;
}

.principal img {
  width: 530px;
  height: 600px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem var(--shadow));
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.pokemon-tipo {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem var(--shadow));
  border: 1.5px solid;
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-header {
  cursor: pointer;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.card.expanded .card-content {
  max-height: 200px;
  padding: 10px;
}

.card-header img {
  width: 170px;
  height: auto;
  margin-right: 200px;
  margin-top: -15px;
}

.card-header h3 {
  display: flex;
  font-size: 35px;
  margin-top: -80px;
  margin-left: 120px;
}

.card-header h4 {
  display: flex;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 120px;
}

.card-header h5 {
  display: flex;
  font-size: 20px;
  color: var(--title);
  margin-top: -7px;
  margin-left: 225px;
}

.card-header button {
  background-color: var(--modo-escuro);
  height: 42px;
  border-radius: 10px;
  width: 100px;
  margin-left: 195px;
  margin-top: -15px;
}

.card-header button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--mouse);
  color: var(--titulos);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      height: 50px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    background-color: var(--card-color);
    border-radius: 30px;
    height: 38px;
    width: 480px;
    button {
      background-color: var(--modo-escuro);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: var(--title);
      height: 30px;
      width: 120px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--mouse);
      color: var(--base);
    }
    a {
      color: var(--titulos);
      text-decoration: none;
      font-size: 13px;
      padding: 8px;
      font-family: "ADLaM Display", system-ui;
    }
  }

  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;

    img {
      order: -1;
      margin-bottom: -90px;
    }
  }

  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    margin-left: 0px;
    img {
      height: 50px;
      margin-left: 5px;
    }
  }

  .menu {
    align-items: center;
    margin-left: 0px;
    background-color: var(--card-color);
    border-radius: 30px;
    height: 30px;
    width: 360px;
    border: 1.5px solid;
    button {
      background-color: var(--modo-escuro);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      height: 23px;
      width: 95px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--mouse);
      color: var(--base);
    }
    a {
      color: var(--title);
      text-decoration: none;
      font-size: 10px;
      padding: 5px;
      font-family: "ADLaM Display", system-ui;
    }
  }

  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;

    img {
      order: -1;
      margin-bottom: -90px;
      width: 400px;
      height: auto;
    }
  }

  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }
}
