@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root {
  --primary-color:#9DCB93;
  --card-color: #ffffff;
  --secondary-color: #FFFFFF;
  --text-color: black;
  --title: #084b08;
  --shadow: #074d05;
  --modo-escuro: #2e9d3d;
  --mouse: #8bd17f;
} 

/* Tema claro*/
body.claro {
    background-color: var(--primary-color);  
}

/* 🌙 Tema Escuro */
body.escuro {
    background-color: #398228;

    .escrita h1{
      color: #034503;
    }

   .card {
    background-color: #7FB738;
   }
  }

body {
  margin: 0;
  padding: 20px;
  background-color: var(--primary-color);
}

header {
  padding: 15px;
  display: flex;
  gap: 20px;
}

header img {
  height: 95px;
  margin-left: 50px;
}

.menu {
  display: flex;
  align-items: center;
  background-color: #9CCE5C;
  border-radius: 30px;
  height: 58px;
  width: 790px;
  padding-right: 7px;
  margin-left: 60px;
  border: 1.5px solid;
}

.menu button {
  background-color: var(--modo-escuro);
  border-radius: 20px;
  border: var(--title);
  height: 40px;
  width: 130px;
  font-family: "ADLaM Display", system-ui;
  font-size: 16px;
}

.menu button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--mouse);
  color: var(--title);
}

.menu a {
  color: var(--title);
  text-decoration: none;
  font-size: 23px;
  padding: 18px;
  font-family: "ADLaM Display", system-ui;
}

.escrita {
  width: 800px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.escrita h1 {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--title);
  font-size: 100px;
}

.escrita p {
  display: flex;
  text-align: center;
  padding-bottom: 8%;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
  border-bottom: 2.5px solid #ffffff;
  margin-bottom: 45px;
}

.principal {
  display: flex;
}

.principal img {
  width: 450px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem #002d2e);
  margin-left: 80px;
  margin-top: 50px;
}

.pokemon-tipo {
  margin-top: -100px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  border: 1.5px solid;
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-header {
  cursor: pointer;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.card.expanded .card-content {
  max-height: 200px;
  padding: 10px;
}

.card-header img {
  width: 170px;
  height: auto;
  margin-right: 200px;
  margin-top: -15px;
}

.card-header h3 {
  display: flex;
  font-size: 35px;
  margin-top: -80px;
  margin-left: 120px;
}

.card-header h4 {
  display: flex;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 120px;
}

.card-header h5 {
  display: flex;
  font-size: 20px;
  color: var(--title);
  margin-top: -7px;
  margin-left: 225px;
}

.card-header button {
    background-color: var(--modo-escuro);
    height: 42px;
    border-radius: 10px;
    width: 100px;
    margin-left: 195px;
    margin-top: -15px;
}

.card-header button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--mouse);
  color: var(--titulos);
}

/* RESPONSIVIDADE tablet*/
@media screen and (min-width: 768px) and (max-width: 1099px) {

  header{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-left: 20px;
   
    img{
        height: 50px;
    }
}
 
.menu{
  display: flex;
    align-items: center;
    margin-left: 60px;
    height: 38px;
    width: 480px;

    button{
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 120px;
        font-size: 10px;
        padding: 10px;
    }


    a{
        font-size: 13px;
        padding: 8px;
    }
  }
  
 .pokemon-tipo {
  margin-top: 3rem;
 }
}

/* RESPONSIVIDADE CELULAR */

@media screen and (max-width: 767px) {
  header{
        display: flex;
        flex-direction: column;
        padding: 5px;
        gap: 10px;
        align-items: center;

    img{
        height: auto;
        width: 15rem;
    }
}
 
.menu{
    align-items: center;
    margin-left: 0px;
    height: 30px;
    width: 360px;

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 23px;
        width: 95px;
        font-size: 10px;
        padding: 10px;
    }

    
    a{
        font-size: 10px;
        padding: 5px;
    }}

    .principal{
     justify-content: center;;
    }

    .principal img {
      display: block;
      position: absolute;
      width: 15rem;
      margin-left: -2rem;
    }

    .escrita{
      margin-top: 20rem;
      margin-left: -1rem;
    }

      .escrita h1{
        font-size: 5rem; 
      }

      .pokemon-tipo{
        margin-top: 2rem;
      }
};


