@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root{
    --base: #5bb765;
    --titulos: #196618;
    --base2: #58bf62;
    --preto: black;
    --sombra: rgba(0, 0, 0, 0.484);
}

* {
  margin: 0;
  padding: 0;
}

/* CSS DO MENU  */
header{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    
    img{
        height: 130px;
    }
}
.menu{
    display: flex;
    align-items: center;
    background-color: var(--base2);
    border-radius: 30px;
    height: 58px;
    width: 780px;
    padding: 2px;

    button{
        background-color: var(--titulos);
        border-radius: 20px;
        border: var(--titulos);
        height: 40px;
        width: 130px;
        font-family: "ADLaM Display", system-ui;
        font-size: 16px;
    }
    button:hover{
        background-color: black;
        color: #02b019;
    }
    a{
        color: var(--titulos);
        text-decoration: none;
        font-size: 23px;
        padding: 18px;
        font-family: "ADLaM Display", system-ui;

    }
}


/* CSS DO RESTO */

body {
  background-color: #9dcb93;
}



.escrita {
  width: 800px;
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 118px;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(11, 76, 11);
  }

  p {
    font-size: 18px;
    text-align: center;
    padding: 19px;
    border-bottom: 2.5px solid #ffffff;
    font-family: "Signika Negative", sans-serif;
  }
}

.principal {
  display: flex;

  img {
    margin-left: 80rem;
    top:-20rem;
    position: relative;
    filter: drop-shadow(0 0 1.5rem rgb(18, 41, 2));
  }
}


.card {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  width: 325px;
  height: 250px;
  position: relative;
  top: 29rem;
  border-radius: 20px 20px 20px 20px;
  border: 1.5px solid;


h2 {

  font-size: 35px;
  display: flex;
  margin-left: 166px;
  margin-top: 60px;
}

h4 {
  font-size: 20px;
  color: rgb(21, 129, 21);
  margin-left: 200px;
}

button {
  background-color: rgb(64, 218, 64);
  height: 42px;
  border-radius: 10px;
  width: 100px;
 margin-left: 170px;
 margin-top: 15px;
}
}

.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
     margin-left: -57rem;
   
 
}