@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");

:root {
  --primary-color: #cda7ff;
  --card-color: #e6ccff;
  --secondary-color: #ffffff;
  --text-color: black;
  --title: #42006b;
  --shadow: #210035;
  --botao: #cf82ff;

  /*seção escura*/

  --backgroudescuro: #6707a2;
  --fundomenuescuro: #8d5bcf;
  --tituloescuro: black;
  --botaoescuro: #6707a2;
  --cardescuro: #8d5bcf;
  --botaocard: #42006b;
  --vejamais: #cda7ff;
}

/*modo claro e escuro*/
body.claro {
  background-color: var(--primary-color);
}

body.escuro {
  background-color: var(--backgroudescuro);
  color: var(--tituloescuro);
  .menu {
    background-color: var(--fundomenuescuro);
  }
  .menu button {
    background-color: var(--botaoescuro);
  }
  .card {
    background-color: var(--cardescuro);
  }
  a {
    color: var(--tituloescuro);
  }

  .escrita h1 {
    color: var(--shadow);
  }

  .escrita h2 {
    color: var(--shadow);
  }

  .card-header button {
    background-color: var(--botaoescuro);
  }
}

/*programação*/

header {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}

header img {
  height: 95px;
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 60px;
  background-color: var(--card-color);
  border-radius: 30px;
  height: 58px;
  width: 800px;
  border: 1.5px solid;
  button {
    background-color: var(--botao);
    border: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-family: "ADLaM Display", system-ui;
    font-size: 16px;
    padding: 10px;
     border: 1.5px solid;
  }
  button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  a {
    color: var(--shadow);
    text-decoration: none;
    font-size: 23px;
    padding: 18px;
    font-family: "ADLaM Display", system-ui;
  }
}

.escrita {
  width: 800px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.escrita h1 {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--title);
  font-size: 100px;
}

.escrita p {
  display: flex;
  justify-content: left;
  text-align: center;
  padding-bottom: 10%;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
  border-bottom: 2.5px solid #ffffff;
  margin-bottom: 40px;
}

.principal {
  display: flex;
}

.principal img {
  width: 500px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem #210035);
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.pokemon-tipo {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem rgba(33, 0, 53, 0.68));
  border: 1.5px solid;
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--shadow);
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-header {
  cursor: pointer;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.card.expanded .card-content {
  max-height: 200px;
  padding: 10px;
}

.card-header img {
  width: 170px;
  height: auto;
  margin-right: 200px;
  margin-top: -15px;
}

.card-header h3 {
  display: flex;
  font-size: 35px;
  margin-top: -80px;
  margin-left: 120px;
}

.card-header h4 {
  display: flex;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 120px;
}

.card-header h5 {
  display: flex;
  font-size: 20px;
  color: var(--title);
  margin-top: -7px;
  margin-left: 225px;
}

.card-header button {
  background-color: var(--botao);
  font-family: "Signika Negative", sans-serif;
  height: 42px;
  border-radius: 10px;
  width: 100px;
  margin-left: 195px;
  margin-top: -15px;
}

.card-header button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/*responsividade*/
@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    margin-left: 0px;
    img {
      height: 50px;
      margin-left: 5px;
    }
  }

  .menu {
    align-items: center;
    margin-left: 0px;
    background-color: var(--card-color);
    border-radius: 30px;
    height: 30px;
    width: 360px;
    border: 1.5px solid;
    button {
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      height: 23px;
      width: 95px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--secondary-color);
      color: var(--botao);
    }
    a {
      color: var(--title);
      text-decoration: none;
      font-size: 10px;
      padding: 5px;
      font-family: "ADLaM Display", system-ui;
    }
  }

  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;

    img {
      order: -1;
      margin-bottom: -90px;
      width: 400px;
      height: auto;
      margin-left: -10px;
    }
  }

  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;

    img {
      height: 50px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    background-color: var(--card-color);
    border-radius: 30px;
    height: 38px;
    width: 480px;
    button {
      background-color: var(--botao);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: var(--shadow);
      height: 30px;
      width: 120px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
    }
    a {
      color: var(--shadow);
      text-decoration: none;
      font-size: 13px;
      padding: 8px;
      font-family: "ADLaM Display", system-ui;
    }
  }

  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;

    img {
      order: -1;
      margin-bottom: -90px;
    }
  }

  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }
}
