@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


:root {
  --primary-color: #CDA7FF;
  --card-color: #E6CCFF;
  --secondary-color: #FFFFFF;
  --text-color: black;
  --title: #42006B;
  --shadow: #210035;
} 


body {
  margin: 0;
  padding: 20px;
  background-color: var(--primary-color);

}

header {
    margin-top: 0%;
    height: 10rem;

    img {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 50px;
    }
}

.escrita {
    width: 800px;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;


  h1 {
  display: flex;
  justify-content:left;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--title);
  }

  p {
  display: flex;
  justify-content:left;
  text-align: justify;
  padding-bottom: 10%;
  }
}

.principal {
  display: flex;
    img {

  width: 400px;
  height: 400px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));

    }
}




.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    

}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));


}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}


img {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


@media (max-width: 500px) {
  body { padding: 12px; }
  .card { padding: 12px; min-height: 220px; }
  .card img { width: 100px; height: 100px; }
}