@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');


:root {
  --primary-color: #CDA7FF;
  --card-color: #E6CCFF;
  --secondary-color: #FFFFFF;
  --text-color: black;
  --title: #42006B;
  --shadow: #210035;
  --botao: #cf82ff;
} 

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--primary-color);

}

/*css do menu*/

header{
    padding: 15px;
    display: flex;
    margin-left: 50px;
    align-items: center;
    gap: 20px;
    
    img{
        height: 95px;

    }
}

.menu{
    display: flex;
    align-items: center;
    background-color:  var(--shadow);
    border-radius: 30px;
    height: 58px;
    width: 800px;
    margin-left: 60px;
    padding-right: 2px;

    button{
        background-color: var(--card-color);
        border-radius: 20px;
        border: var(--primary-color);
        height: 40px;
        width: 130px;
        font-family: "ADLaM Display", system-ui;
        font-size: 16px;
    }
    button:hover{
        background-color: var(--primary-color);
        color: var(--shadow);
    }
    a{
        color: var(--card-color);
        text-decoration: none;
        font-size: 23px;
        padding: 18px;
        font-family: "ADLaM Display", system-ui;

    }
}

/*css psíquico*/


.escrita {
    width: 800px;
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;


  h1 {
    font-size: 118px;
    font-family: "Pixelify Sans", sans-serif;
    color: var(--title);
  }

  p {
  font-size: 18px;
  text-align: center;
  padding: 19px;
  border-bottom: 2.5px solid #ffffff;
  font-family: "Signika Negative", sans-serif;
  }
}

.principal {
  display: flex;

    img {

  top:5rem;
  width: 500px;
  height: auto;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));

    }
}




.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
  
}

.card {
  display: flex;
  flex-direction: column;
  background-color:var(--card-color);
  width: 300px;
  padding: 20px;
  height: auto;
  border-radius: 20px;
  border: 1.5px solid;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));



h4 {
  font-size: 20px;
  margin-left: 120px;
  margin-top: 5px;
  text-align: center;
  color: var(--title);
}

h2 {
  font-size: 35px;
  margin-left: 120px;
  margin-top: -85px;
  text-align: center;
  color: var(--text-color);
}


img {
  width: 150px;
  height: auto;
  margin-left: -3rem;
}

button {
 background-color: var(--botao);
 align-items: center;
 height: 42px;
 border-radius: 10px;
 width: 100px;
 margin-left: 170px;
 margin-top: 15px;
 font-family: "Signika Negative", sans-serif;
}

}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--title);
  color: var(--secondary-color);

}


@media (max-width: 500px) {
  body { padding: 12px; }
  .card { padding: 12px; min-height: 220px; }
  .card img { width: 100px; height: 100px; }
};