@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');


:root {
  --primary-color: #CDA7FF;
  --card-color: #E6CCFF;
  --secondary-color: #FFFFFF;
  --text-color: black;
  --title: #42006B;
  --shadow: #210035;
} 


body {
  margin: 0;
  padding: 20px;
  background-color: var(--primary-color);

}

header{
    padding: 15px;
    gap: 20px;
    display: flex;
    height: 10rem;

    
    img{
        height: 130px;
        width: 300px;
        
    }
}

.menu{
    display: flex;
    align-items: center;
    background-color:  var(--shadow);
    border-radius: 30px;
    height: 58px;
    width: 800px;
    padding: 2px;

    button{
        background-color: var(--card-color);
        border-radius: 20px;
        border: var(--primary-color);
        height: 40px;
        width: 130px;
        font-family: "ADLaM Display", system-ui;
        font-size: 16px;
    }
    button:hover{
        background-color: var(--primary-color);
        color: var(--shadow);
    }
    a{
        color: var(--card-color);
        text-decoration: none;
        font-size: 23px;
        padding: 18px;
        font-family: "ADLaM Display", system-ui;

    }
}


.escrita {
    width: 800px;
    display: flex;
    flex-direction: column;


  h1 {
  display: flex;
  justify-content:center;
  font-size: 80px;
  margin-left: 10px;
  font-family: "Pixelify Sans", sans-serif;

  color: var(--title);
  }

  p {
  display: flex;
  font-family: "ADLaM Display", system-ui;
  margin-left: 10px;
  justify-content:center;
  text-align: justify;
  padding-bottom: 10%;
  }
}

.principal {
  display: flex;
    img {
  margin-left: 15px;
  padding-bottom: 5px;
  width: 500px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));

    }
}




.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    

}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));


}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}


img {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


@media (max-width: 500px) {
  body { padding: 12px; }
  .card { padding: 12px; min-height: 220px; }
  .card img { width: 100px; height: 100px; }
};