@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

:root {
  --primary-color: #BE8C6B;
  --card-color: #916B5E;
  --secondary-color: #FFFFFF;
  --shadow: #584738;
  --titulo: #4B2D0F;
  --base: #96DCC9;
  --titulos: #02B082;
  --base2: #C4F9EB;
  --preto: black;
  --sombra: rgba(0, 0, 0, 0.484);
} 

body {
  background-color: var(--primary-color);
}

header{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    
    img{
        height: 130px;
        width: 300px;
    }
}

.menu{
    display: flex;
    align-items: center;
    background-color: var(--base2);
    border-radius: 30px;
    height: 58px;
    width: 780px;
    padding: 2px;

    button{
        background-color: var(--titulos);
        border-radius: 20px;
        border: var(--titulos);
        height: 40px;
        width: 130px;
        font-family: "ADLaM Display", system-ui;
        font-size: 16px;
    }
    button:hover{
        background-color: var(--preto);
        color: var(--titulos);
    }
    a{
        color: var(--titulos);
        text-decoration: none;
        font-size: 23px;
        padding: 18px;
        font-family: "ADLaM Display", system-ui;

    }
}

.escrita {
    width: 500px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;


  h1 {
  display: flex;
  justify-content:left;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--titulo);
  font-size: 118px;
  margin-left: -4rem;
  }

  p {
  display: flex;
  text-align: center;
  padding-bottom: 10%;
  }
}

.principal {
  display: flex;
    img {

  width: 600px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  margin-left: 180px;
  margin-top: 15px;

    }
}

.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--preto);
}

img {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 500px) {
  body { padding: 12px; }
  .card { padding: 12px; min-height: 220px; }
  .card img { width: 100px; height: 100px; }
}