@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root {
  --fundo: #BE8C6B;
  --card-color: #916B5E;
  --branco: #FFFFFF;
  --shadow: #584738;
  --titulo: #4B2D0F;
  --titulos: #584738;
  --base2: #916B5E;
  --preto: black;
  --botao: #C18754;
  --click: #584738;
} 

/* Cabeçalho/Menu */
header{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
    
    img{
        height: 95px;
    }
}

.menu{
    display: flex;
    align-items: center;
    background-color: var(--base2);
    border-radius: 30px;
    height: 58px;
    width: 800px;
    margin-left: 60px;
     border: 1.5px solid;

    button{
        background-color: var(--titulos);
        border-radius: 20px;
        border: var(--titulos);
        height: 40px;
        width: 130px;
        font-family: "ADLaM Display", system-ui;
        font-size: 16px;
        padding: 10px;
         border: 1.5px solid;
    }
    button:hover{
        background-color: var(--preto);
        color: var(--titulos);
    }
    a{
        color: var(--titulos);
        text-decoration: none;
        font-size: 23px;
        padding: 18px;
        font-family: "ADLaM Display", system-ui;

    }
}

/* Corpo da página */
body {
  background-color: var(--fundo);
}

.escrita {
    width: 800px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

  h1 {
  font-family: "Pixelify Sans", sans-serif;
  color: var(--titulo);
  font-size: 118px;
  }

  p {
  font-size: 18px;
  text-align: center;
  padding: 19px;
  border-bottom: 2.5px solid #ffffff;
  font-family: "Signika Negative", sans-serif;
  margin: 5rem;
  margin-top: -60px;
  padding-bottom: 4rem;
  }
}

.principal {
  display: flex;
    img {

  width: 650px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  margin-top: 50px;
    }
}

.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color:var(--card-color);
  width: 300px;
  border-radius: 20px;
  border: 1.5px solid;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  align-items: center;
  border: 1.5px solid;
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-header {
  cursor: pointer;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.card.expanded .card-content {
  max-height: 200px;
  padding: 10px;
}

.card-header img {
  width: 170px;
  height: auto;
  margin-right: 200px;
  margin-top: -15px;
}

.card-header h3 {
  display: flex;
  font-size: 35px;
  margin-top: -80px;
  margin-left: 120px;
}

.card-header h4 {
  display: flex;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 120px;
}

.card-header h5 {
  display: flex;
  font-size: 20px;
  color: var(--title);
  margin-top: -7px;
  margin-left: 225px;
}

.card-header button {
    background-color: var(--botao);
    height: 42px;
    border-radius: 10px;
    width: 100px;
    margin-left: 195px;
    margin-top: -200px;
    margin-bottom: 10px;
}

.card-header button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--click);
  color: var(--branco);
}

/*Resposividade para tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
 
    img {
      height: 50px;
    }
  }
 
  .menu {
    display: flex;
    align-items: center;
    background-color: var(--base2);
    border-radius: 30px;
    height: 38px;
    width: 480px;
    button {
      background-color: var(--titulos);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      border: var(--titulos);
      height: 30px;
      width: 120px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--titulos);
      color: var(--preto);
    }
 
    a {
      color: var(--titulos);
      text-decoration: none;
      font-size: 13px;
      padding: 8px;
      font-family: "ADLaM Display", system-ui;
    }
  }
 
  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
 
    img {
      order: -1;
      margin-bottom: -90px;
    }
  }
 
  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }
}

/*Resposividade para celular*/
@media screen and (min-width: 500px) and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    margin-left: 0px;
    img {
      height: 50px;
      margin-left: 5px;
    }
  }
 
  .menu {
    align-items: center;
    margin-left: 0px;
    background-color: var(--base2);
    border-radius: 30px;
    border: var(--titulos);
    height: 30px;
    width: 360px;
    border: 1.5px solid;
    button {
      background-color: var(--titulos);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      height: 23px;
      width: 95px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--titulos);
      color: var(--preto);
    }
    a {
      color: var(--titulos);
      text-decoration: none;
      font-size: 10px;
      padding: 5px;
      font-family: "ADLaM Display", system-ui;
    }
  }
 
  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
 
    img {
      order: -1;
      margin-bottom: -90px;
      width: 400px;
      height: auto;
      margin-left: -10px;
    }
  }
 
  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 40px;

    h1 {
      font-size: 80px;
    }
  }
}
 