@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root {
  --primary-color: #BE8C6B;
  --card-color: #916B5E;
  --secondary-color: #FFFFFF;
  --shadow: #584738;
  --titulo: #4B2D0F;
  --titulos: #584738;
  --base2: #916B5E;
  --preto: black;
} 

header{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    
    img{
        height: 130px;
    }
}

.menu{
    display: flex;
    align-items: center;
    background-color: var(--base2);
    border-radius: 30px;
    height: 58px;
    width: 800px;

    button{
        background-color: var(--titulos);
        border-radius: 20px;
        border: var(--titulos);
        height: 40px;
        width: 130px;
        font-family: "ADLaM Display", system-ui;
        font-size: 16px;
        padding: 10px;
    }
    button:hover{
        background-color: var(--preto);
        color: var(--titulos);
    }
    a{
        color: var(--titulos);
        text-decoration: none;
        font-size: 23px;
        padding: 18px;
        font-family: "ADLaM Display", system-ui;

    }
}

body {
  background-color: var(--primary-color);
}

.escrita {
    width: 800px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

  h1 {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--titulo);
  font-size: 118px;
  }

  p {
  display: flex;
  text-align: center;
  font-family: "Signika Negative", sans-serif;
  border-bottom: 2px solid #ffffff;
  padding: 50px;
  margin-top: -30px;
  }
}

.principal {
  display: flex;
    img {

  width: 650px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  margin-top: 20px;
    }
}

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  width: 325px;
  height: 250px;
  position: relative;
  top: 29rem;
  border-radius: 20px 20px 20px 20px;
  border: 1.5px solid;

  img{
    position:absolute;
    height: 160px;
     display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
     margin-left: -1rem;
     margin-top: 23rem;
  }


h2 {

  font-size: 35px;
  display: flex;
  margin-left: 166px;
  margin-top: 60px;
}

h4 {
  font-size: 20px;
  color: rgb(21, 129, 21);
  margin-left: 200px;
}

button {
  background-color: rgb(64, 218, 64);
  height: 42px;
  border-radius: 10px;
  width: 100px;
 margin-left: 170px;
 margin-top: 15px;
}
}

.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
     margin-left: -57rem;
   
 
}