@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #BE8C6B;
  --card-color: #916B5E;
  --secondary-color: #FFFFFF;
  --text-color: black;
  --title: black;
  --shadow: #584738;
} 

body {
  background-color: var(--primary-color);
}

header {
  margin-top: 0%;
  height: 10rem;

  img {
    margin-left: 50px;
    margin-top: 30px;
    width: 180px;
    height: 70px;
  }
}

.escrita {
    width: 500px;
    margin-left: 150px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;


  h1 {
  display: flex;
  justify-content:left;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--title);
  font-size: 80px;
  margin-left: 30px;
  }

  p {
  display: flex;
  text-align: center;
  padding-bottom: 10%;
  }
}

.principal {
  display: flex;
    img {

  width: 500px;
  height: 400px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  margin-left: 180px;

    }
}

.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}

img {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 500px) {
  body { padding: 12px; }
  .card { padding: 12px; min-height: 220px; }
  .card img { width: 100px; height: 100px; }
}