@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root {
  --primary-color: #BE8C6B;
  --card-color: #916B5E;
  --secondary-color: #FFFFFF;
  --shadow: #584738;
  --titulo: #4B2D0F;
  --titulos: #584738;
  --base2: #916B5E;
  --preto: black;
} 

header{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
    
    img{
        height: 95px;
    }
}

.menu{
    display: flex;
    align-items: center;
    background-color: var(--base2);
    border-radius: 30px;
    height: 58px;
    width: 800px;
    margin-left: 60px;

    button{
        background-color: var(--titulos);
        border-radius: 20px;
        border: var(--titulos);
        height: 40px;
        width: 130px;
        font-family: "ADLaM Display", system-ui;
        font-size: 16px;
        padding: 10px;
    }
    button:hover{
        background-color: var(--preto);
        color: var(--titulos);
    }
    a{
        color: var(--titulos);
        text-decoration: none;
        font-size: 23px;
        padding: 18px;
        font-family: "ADLaM Display", system-ui;

    }
}

body {
  background-color: var(--primary-color);
}

.escrita {
    width: 800px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

  h1 {
  font-family: "Pixelify Sans", sans-serif;
  color: var(--titulo);
  font-size: 118px;
  }

  p {
  font-size: 18px;
  text-align: center;
  padding: 19px;
  border-bottom: 2.5px solid #ffffff;
  font-family: "Signika Negative", sans-serif;
  margin-top: -5rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  }
}

.principal {
  display: flex;
    img {

  width: 650px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  margin-top: 20px;
    }
}

.pokemon-tipo {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color:var(--card-color);
  width: 300px;
  padding: 10px;
  height: 300px;
  border-radius: 20px;
  border: 1.5px solid;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));

h4 {
  font-size: 20px;
  margin-left: 120px;
  text-align: center;
  color: var(--title);
}

h2 {
  font-size: 35px;
  margin-left: 120px;
  text-align: center;
  color: var(--text-color);
}

img {
  width: 100px;
  height: 100px;
}

button {
 background-color: var(--title);
 align-items: center;
 height: 42px;
 border-radius: 10px;
 width: 100px;
 margin-left: 170px;
 margin-top: 15px;
}

}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}


@media (max-width: 500px) {
  body { padding: 12px; }
  .card { padding: 12px; min-height: 220px; }
  .card img { width: 100px; height: 100px; }
};