@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");

:root {
  --fundo1: #be8c6b;
  --fundo2: #5f3316;
  --area1: #916b5e;
  --area2: #71462a;
  --titulos1: #584738;
  --titulos2: #2f1a07;
  --botao1: #584737;
  --botao2: #5f3316;
  --titulo1: #4b2d0f;
  --tiulo2: #2f1a07;
  --carde: #824d3b;
  --bot1: #c18754;
  --bot2: #603514;
  --click1: #584738;
  --click2: rgb(161, 98, 43);
  --preto: black;
  --branco: white;
  --tituzao: #482A0D;
  --tituluzinho: #6D3914;
}

/* Cabeçalho/Menu */
header {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-left: 40px;

  img {
    height: 95px;
  }
}

.menu {
  display: flex;
  align-items: center;
  background-color: var(--area1);
  border-radius: 30px;
  height: 58px;
  width: 800px;
  margin-left: 60px;
  border: 1.5px solid;

  button {
    background-color: var(--botao1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 40px;
    width: 160px;
    font-family: "ADLaM Display", system-ui;
    font-size: 16px;
    padding: 10px;
    border: 1.5px solid;
  }
  button:hover {
    background-color: var(--preto);
    color: var(--titulos1);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  a {
    color: var(--titulos1);
    text-decoration: none;
    font-size: 23px;
    padding: 18px;
    font-family: "ADLaM Display", system-ui;
  }
}

/* Corpo da página */

/*Modo claro*/
body.claro {
  background-color: var(--fundo1);
  color: var(--preto);
}

/* 🌙 Tema Escuro */
body.escuro {
  background-color: var(--fundo2);
  color: var(--titulos2);
  .menu {
    background-color: var(--area2);
  }
  a {
    color: var(--titulos2);
  }
  button {
    background-color: var(--botao2);
  }
  button:hover {
    background-color: var(--preto);
    color: var(--titulos2);
  }

  .escrita h1 {
    color: var(--tiulo2);
  }

  .card {
    background-color: var(--carde);
  }

  .card-header button {
    background-color: var(--bot2);
  }

  .card-header button:hover {
    background-color: var(--click2);
    color: var(--preto);
  }
}

.escrita {
  width: 800px;
  margin-left: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.escrita h1 {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--titulo1);
  font-size: 100px;
}

.escrita p {
  display: flex;
  justify-content: left;
  text-align: center;
  padding-bottom: 10%;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
  border-bottom: 2.5px solid #ffffff;
  color: var(--preto);
  margin: 2rem;
  margin-bottom: 5rem;
}

.principal {
  display: flex;
  img {
    width: 650px;
    height: 500px;
    position: relative;
    filter: drop-shadow(0 0 1.5rem rgba(53, 33, 0, 0.68));
    margin-top: 50px;
    margin-right: 20px;
  }
}

.pokemon-tipo {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--area1);
  width: 300px;
  border-radius: 20px;
  filter: drop-shadow(0 0 1.5rem rgba(53, 33, 0, 0.68));
  align-items: center;
  border: 1.5px solid;
  padding: 10px;
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--tituzao);
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--tituluzinho);
}

.card img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-header {
  cursor: pointer;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.card.expanded .card-content {
  max-height: 200px;
  padding: 10px;
}

.card-header img {
  width: 170px;
  height: auto;
  margin-right: 200px;
  margin-top: -15px;
}

.card-header h3 {
  display: flex;
  font-size: 35px;
  margin-top: -80px;
  margin-left: 120px;
}

.card-header h4 {
  display: flex;
  font-size: 20px;
  margin-top: -30px;
  margin-left: 120px;
}

.card-header h5 {
  display: flex;
  font-size: 20px;
  color: var(--preto);
  margin-top: -7px;
  margin-left: 225px;
}

.card-header button {
  background-color: var(--bot1);
  height: 42px;
  border-radius: 10px;
  width: 100px;
  margin-left: 195px;
  margin-top: -200px;
  margin-bottom: 10px;
}

.card-header button:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--click1);
  color: var(--branco);
}

/*Resposividade para tablet*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  header {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;

    img {
      height: 50px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    margin-left: 60px;
    background-color: var(--area1);
    border-radius: 30px;
    height: 38px;
    width: 480px;
    border: 1.5px solid;
    button {
      background-color: var(--botao1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      height: 30px;
      width: 120px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--preto);
      color: var(--titulos1);
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }

    a {
      color: var(--titulos1);
      text-decoration: none;
      font-size: 13px;
      padding: 8px;
      font-family: "ADLaM Display", system-ui;
    }
  }

  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;

    img {
      order: -1;
      margin-bottom: -90px;
    }
  }

  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 0px;
  }
}

/*Resposividade para celular*/
@media screen and (max-width: 767px) {
  header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
    margin-left: 0px;
    img {
      height: 50px;
      margin-left: 5px;
    }
  }

  .menu {
    align-items: center;
    margin-left: 0px;
    background-color: var(--area1);
    border-radius: 30px;
    border: var(--titulos);
    height: 30px;
    width: 360px;
    border: 1.5px solid;
    button {
      background-color: var(--botao1);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      height: 23px;
      width: 95px;
      font-family: "ADLaM Display", system-ui;
      font-size: 10px;
      padding: 10px;
      border: 1.5px solid;
    }
    button:hover {
      background-color: var(--preto);
      color: var(--titulos1);
    }
    a {
      color: var(--titulos1);
      text-decoration: none;
      font-size: 10px;
      padding: 5px;
      font-family: "ADLaM Display", system-ui;
    }
  }

  .principal {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;

    img {
      order: -1;
      margin-bottom: -90px;
      width: 390px;
      height: auto;
      margin-left: 40px;
    }
  }

  .escrita {
    width: 90%;
    margin-left: 0px;
    margin-top: 30px;

    h1 {
      font-size: 75px;
    }

    p {
      margin-top: -2px;
    }
  }
}
