@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');

:root {
  --primary-color: #96D7DC;
  --card-color: #74BFC5;
  --secondary-color: #FFFFFF;
  --text-color: black;
  --title: #01595c;
  --shadow: #210035;
  --modo-escuro: #00969B;
  --mouse: #7fccd1;
} 

body {
  margin: 0;
  padding: 20px;
  background-color: var(--primary-color);
}

header {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

header img {
  height: 130px;
}

.menu {
  display: flex;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 30px;
  height: 58px;
  width: 790px;
}

.menu button {
  background-color: var(--modo-escuro);
  border-radius: 20px;
  border: var(--titulos);
  height: 40px;
  width: 130px;
  font-family: "ADLaM Display", system-ui;
  font-size: 16px;
}

.menu button:hover {
  background-color: var(--mouse);
  color: var(--titulos);
}

.menu a {
  color: var(--titulos);
  text-decoration: none;
  font-size: 23px;
  padding: 18px;
  font-family: "ADLaM Display", system-ui;
}

.escrita {
  width: 800px;
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.escrita h1 {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  margin-bottom: 20px;
  color: var(--title);
  font-size: 100px;
}

.escrita p {
  display: flex;
  justify-content: left;
  text-align: center;
  padding-bottom: 10%;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
  border-bottom: 2.5px solid #ffffff;
  margin-bottom: 40px;display: flex;
  justify-content: left;
  text-align: center;
  padding-bottom: 10%;
  font-family: "Signika Negative", sans-serif;
  font-size: 18px;
  border-bottom: 2.5px solid #ffffff;
  margin-bottom: 40px;
}

.principal {
  display: flex;
}

.principal img {
  width: 500px;
  height: 500px;
  position: relative;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
  margin-left: 80px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.pokemon-tipo {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}

.card {
  background: var(--card-color);
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0 0 1.5rem rgba(33,0,53,0.68));
}

.card h4 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--title);
}

.card h3 {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--text-color);
}


.card img {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.card-header {
  cursor: pointer;
}

.card-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.card.expanded .card-content {
  max-height: 200px;
  padding: 10px;
}

.card-header img {
  width: 150px;
  height: 150px;
}
